*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500;
}

body {
    min-height: 100vh;
    padding: 50px 0 100px;
    color: #94a3b8;
    background: conic-gradient(at center bottom, #374151, #111827, #000000, #374151);
}

h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
}

.container {
    font-family: comfortaa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    color: #94a3b8;
}

.spinner__link {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0 0 1px 0 #b9b9b9, -10px 10px 5px -5px #0f172ad0, -20px 20px 5px -10px #0f172a79;
    }
}

.spinner-2,
.spinner-3 {
    .spinner__link {
        border-radius: 5px;
        background: linear-gradient(to right, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42));
    }
}

.spinner-2 {
    font-size: 120%;
}

.spinner-3 {
    font-size: 90%;
}
